# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
import time

# Import API key
from api_keys_file import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# extract the csv file 
output_data_file = "../starter_code/weather_data_final.csv"
output_data_file

# read the csv file 
weather_df = pd.read_csv(output_data_file)
weather_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Richards Bay,-28.78,32.04,70.50,87,93,4.18,ZA,1606087303
1,Khatanga,71.97,102.50,14.92,96,100,20.38,RU,1606087379
2,Bredasdorp,-34.53,20.04,60.80,87,26,3.36,ZA,1606087229
3,Korla,41.76,86.15,18.10,80,40,3.47,CN,1606087382
4,Tasiilaq,65.61,-37.64,21.20,85,46,2.24,GL,1606087383

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# creating a heat map

# Store latitude and longitude in locations
locations = weather_df[["Lat", "Lng"]]

# Fill NaN values and convert to float
humidity_1 = weather_df["Humidity"].astype(float)

In [4]:
# Plot Heatmap
# fig = gmaps.figure()
fig = gmaps.figure(map_type="TERRAIN")

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity_1, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=3)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# plt.savefig('vacation-humidity-heatmap.png')

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
# Narrow down the DataFrame to fit my ideal type of weather condition. My criteria is as follow:
# A max temperature lower or equal to 85 degrees and higher than 50 degrees.
# Wind speed < 15
# cloudiness <= 10


# created a new data frame that has these for criterias 
my_types_df = pd.DataFrame(weather_df, columns = ["City", "Country", "Max Temp", "Wind Speed", "Cloudiness", "Humidity", "Lat", "Lng"])
my_types_df

# setting up my conditions 
my_ideal_type_df = my_types_df.loc[(my_types_df["Wind Speed"] < 15) & (my_types_df["Cloudiness"] <= 10) & \
                                   (my_types_df["Max Temp"] <= 85) & (my_types_df["Max Temp"] > 50)].dropna()

my_ideal_type_df

# plt.savefig('ideal-weather.png')

,City,Country,Max Temp,Wind Speed,Cloudiness,Humidity,Lat,Lng
10,Makkah al Mukarramah,SA,72.32,4.79,0,74,21.43,39.83
15,Carnarvon,AU,73.40,11.41,0,78,-24.87,113.63
17,Busselton,AU,66.99,7.16,0,67,-33.65,115.33
19,Bluff,NZ,57.00,5.01,3,66,-46.60,168.33
35,Chui,UY,60.48,8.48,0,79,-33.70,-53.46
...,...,...,...,...,...,...,...,...
555,Panabá,MX,72.91,7.20,6,92,21.28,-88.27
563,Kontagora,NG,73.13,4.47,6,37,10.40,5.47
580,Clarence Town,AU,80.01,5.82,0,73,-32.58,151.78
589,Ambilobe,MG,73.38,4.18,6,80,-13.20,49.05
594,Korba,IN,54.90,5.14,0,48,22.35,82.68

In [7]:
len(my_ideal_type_df)

78

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:
# Create a hotel_df
hotel_df = my_ideal_type_df.loc[:,["City","Country", "Lat", "Lng"]]

# Add a "Hotel Name" column to the DataFrame.
hotel_df["Hotel Name"] = ""

# Display the result
hotel_df.head()

                    City Country    Lat     Lng Hotel Name
10  Makkah al Mukarramah      SA  21.43   39.83
15             Carnarvon      AU -24.87  113.63
17             Busselton      AU -33.65  115.33
19                 Bluff      NZ -46.60  168.33
35                  Chui      UY -33.70  -53.46

In [9]:
# using google API to find the hotel nearby my ideal cities

google_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

In [10]:
# use iterrows to iterate through pandas dataframe

for index, row in hotel_df.iterrows():
    # extract the city name, latitude, longtitude from df
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    # add keyword to params dictionary
    params["location"] = f"{lat},{lng}"
    
 # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(google_url, params=params).json()
    
    # extract results
    results = response['results']
    
    # save the hotel name to dataframe
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    # if there is no hotel available, show missing field
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")
    
    # Wait 1 sec to make another api request to avoid SSL Error
    time.sleep(1)

# Print end of search once searching is completed
print("-------End of Search-------")

Retrieving Results for Index 10: Makkah al Mukarramah.
Closest hotel in Makkah al Mukarramah is Hotel Fairmont Makkah Clock Royal Tower.
------------
Retrieving Results for Index 15: Carnarvon.
Closest hotel in Carnarvon is The Gascoyne Hotel.
------------
Retrieving Results for Index 17: Busselton.
Closest hotel in Busselton is Abbey Beach Resort.
------------
Retrieving Results for Index 19: Bluff.
Closest hotel in Bluff is Land's End Boutique Hotel.
------------
Retrieving Results for Index 35: Chui.
Closest hotel in Chui is Bertelli Chuí Hotel.
------------
Retrieving Results for Index 37: Maceió.
Closest hotel in Maceió is Jatiúca Hotel & Resort.
------------
Retrieving Results for Index 41: Malakal.
Closest hotel in Malakal is Nile Palace Hotel.
------------
Retrieving Results for Index 42: Caçu.
Closest hotel in Caçu is Império Hotel.
------------
Retrieving Results for Index 48: Carballo.
Closest hotel in Carballo is Hotel Pensua Punta Del Este.
------------
Retrieving Results for Index 55: Valparaíso.
Closest hotel in Valparaíso is Hotel Gervasoni.
------------
Retrieving Results for Index 69: Saldanha.
Closest hotel in Saldanha is Hoedjiesbaai Hotel.
------------
Retrieving Results for Index 71: Dwārka.
Closest hotel in Dwārka is Hotel Rudra Plaza.
------------
Retrieving Results for Index 72: Rikitea.
Closest hotel in Rikitea is Pension Bianca & Benoit.
------------
Retrieving Results for Index 74: Sakakah.
Closest hotel in Sakakah is Raoum Inn Hotel.
------------
Retrieving Results for Index 75: Kavaratti.
Closest hotel in Kavaratti is Bismillah Hotel And Lodging.
------------
Retrieving Results for Index 101: New Norfolk.
Closest hotel in New Norfolk is Tynwald Willow Bend Estate.
------------
Retrieving Results for Index 103: Tura.
Closest hotel in Tura is Dongrama Home Stay, Tura Meghalaya.
------------
Retrieving Results for Index 111: Mailsi.
Closest hotel in Mailsi is Mehar Hotel.
------------
Retrieving Results for Index 118: Ribeira Grande.
Closest hotel in Ribeira Grande is Quinta Das Buganvílias.
------------
Retrieving Results for Index 144: Mar del Plata.
Closest hotel in Mar del Plata is Hotel Sennac.
------------
Retrieving Results for Index 177: Bagotville.
Missing field/result... skipping.
------------
Retrieving Results for Index 192: Cabo San Lucas.
Closest hotel in Cabo San Lucas is Waldorf Astoria Los Cabos Pedregal.
------------
Retrieving Results for Index 198: Saint George.
Closest hotel in Saint George is Tru By Hilton St. George.
------------
Retrieving Results for Index 203: Salinópolis.
Closest hotel in Salinópolis is Hotel Concha do Mar.
------------
Retrieving Results for Index 204: Muros.
Closest hotel in Muros is O Prouso.
------------
Retrieving Results for Index 206: Poum.
Missing field/result... skipping.
------------
Retrieving Results for Index 208: Abu Dhabi.
Closest hotel in Abu Dhabi is Villaggio Hotel & Resort.
------------
Retrieving Results for Index 211: Lebu.
Closest hotel in Lebu is Hotel Plaza Lebu.
------------
Retrieving Results for Index 213: Chicama.
Closest hotel in Chicama is Tiki Surf House.
------------
Retrieving Results for Index 216: Houma.
Closest hotel in Houma is Candlewood Suites Houma.
------------
Retrieving Results for Index 226: Kiryat Gat.
Closest hotel in Kiryat Gat is Desert Gat.
------------
Retrieving Results for Index 234: Tortolì.
Closest hotel in Tortolì is Arbatax Park Resort.
------------
Retrieving Results for Index 242: Kigoma.
Closest hotel in Kigoma is Sunset Vista Hotel.
------------
Retrieving Results for Index 243: Selma.
Closest hotel in Selma is Holiday Inn Selma-Swancourt.
------------
Retrieving Results for Index 271: Neuquén.
Closest hotel in Neuquén is Casino Magic Hotel & Casino.
------------
Retrieving Results for Index 272: Rāghogarh.
Closest hotel in Rāghogarh is Rajputana Divine.
------------
Retrieving Results for Index 278: Dolores.
Closest hotel in Dolores is HOTEL TERMAL HOWARD JOHNSON DOLORES.
------------
Retrieving Results for Index 285: Mangan.
Missing field/result... skipping.
------------
Retrieving Results for Index 297: Suratgarh.
Closest hotel in Suratgarh is Hotel 7 Eleven.
------------
Retrieving Results for Index 304: Puerto del Rosario.
Closest hotel in Puerto del Rosario is Hotel El Mirador.
------------
Retrieving Results for Index 313: Ljubinje.
Missing field/result... skipping.
------------
Retrieving Results for Index 317: Salalah.
Closest hotel in Salalah is Al Dyafa Hotel Suites.
------------
Retrieving Results for Index 350: Ormara.
Closest hotel in Ormara is Ormara Beach Resorts/ Bolan Safari.
------------
Retrieving Results for Index 351: Cidreira.
Closest hotel in Cidreira is Hotel Castelo.
------------
Retrieving Results for Index 354: Assiut.
Closest hotel in Assiut is Florence Hotel Assiut.
------------
Retrieving Results for Index 369: Mangochi.
Closest hotel in Mangochi is Sunbird Nkopola Lodge.
------------
Retrieving Results for Index 377: Najrān.
Missing field/result... skipping.
------------
Retrieving Results for Index 381: Nizwá.
Closest hotel in Nizwá is Antique inn.
------------
Retrieving Results for Index 386: Casablanca.
Closest hotel in Casablanca is Four Seasons Hotel Casablanca.
------------
Retrieving Results for Index 396: Aljezur.
Closest hotel in Aljezur is Herdade Monte Do Sol.
------------
Retrieving Results for Index 400: Kukuna.
Missing field/result... skipping.
------------
Retrieving Results for Index 401: Baillif.
Closest hotel in Baillif is Hôtel Saint-Georges.
------------
Retrieving Results for Index 411: Riyadh.
Closest hotel in Riyadh is Vittori Palace Hotel.
------------
Retrieving Results for Index 427: Pacific Grove.
Closest hotel in Pacific Grove is Hotel 1110.
------------
Retrieving Results for Index 428: Australind.
Closest hotel in Australind is Australind Tourist Park.
------------
Retrieving Results for Index 445: Jiwani.
Missing field/result... skipping.
------------
Retrieving Results for Index 448: Kita.
Closest hotel in Kita is HÔTEL LE RELAIS.
------------
Retrieving Results for Index 453: Horizontina.
Closest hotel in Horizontina is Hotel Ouro Verde.
------------
Retrieving Results for Index 460: Comodoro Rivadavia.
Closest hotel in Comodoro Rivadavia is Lucania Palazzo Hotel.
------------
Retrieving Results for Index 462: Sur.
Closest hotel in Sur is Sur Plaza Hotel.
------------
Retrieving Results for Index 478: Jonuta.
Closest hotel in Jonuta is Rancho San Román.
------------
Retrieving Results for Index 481: Shikarpur.
Closest hotel in Shikarpur is TSK™ Hotel.
------------
Retrieving Results for Index 488: Nelson Bay.
Closest hotel in Nelson Bay is Amarna Luxury Beach Resort - Guest Only.
------------
Retrieving Results for Index 500: Toccoa.
Closest hotel in Toccoa is Country Hearth Inn & Suites Toccoa.
------------
Retrieving Results for Index 509: Baripāda.
Closest hotel in Baripāda is Hotel Durga.
------------
Retrieving Results for Index 511: Nouakchott.
Closest hotel in Nouakchott is AZALAÏ HOTEL NOUAKCHOTT (MARHABA ).
------------
Retrieving Results for Index 517: Geraldton.
Closest hotel in Geraldton is Ocean Centre Hotel.
------------
Retrieving Results for Index 519: Arona.
Closest hotel in Arona is Coral Ocean View.
------------
Retrieving Results for Index 523: Cap Malheureux.
Closest hotel in Cap Malheureux is Paradise Cove Boutique Hotel.
------------
Retrieving Results for Index 529: Rocha.
Closest hotel in Rocha is Quarahy.
------------
Retrieving Results for Index 544: Nueve de Julio.
Closest hotel in Nueve de Julio is Grand Hotel Libertad - GHL.
------------
Retrieving Results for Index 548: Saucillo.
Closest hotel in Saucillo is Saucillo Inn.
------------
Retrieving Results for Index 552: Talcahuano.
Closest hotel in Talcahuano is Hotel Terrasur.
------------
Retrieving Results for Index 555: Panabá.
Missing field/result... skipping.
------------
Retrieving Results for Index 563: Kontagora.
Closest hotel in Kontagora is City Gate Inn.
------------
Retrieving Results for Index 580: Clarence Town.
Closest hotel in Clarence Town is Erringhi Hotel.
------------
Retrieving Results for Index 589: Ambilobe.
Closest hotel in Ambilobe is Hotel National.
------------

Retrieving Results for Index 594: Korba.
Closest hotel in Korba is Blue Diamond The Hotel.
------------
-------End of Search-------

In [11]:
# save the photo of all the hotel names
# plt.savefig('vacation-nearest-hotels.png')

In [12]:
# Display the dataframe after located hotels 
hotel_df.head()

,City,Country,Lat,Lng,Hotel Name
10,Makkah al Mukarramah,SA,21.43,39.83,Hotel Fairmont Makkah Clock Royal Tower
15,Carnarvon,AU,-24.87,113.63,The Gascoyne Hotel
17,Busselton,AU,-33.65,115.33,Abbey Beach Resort
19,Bluff,NZ,-46.60,168.33,Land's End Boutique Hotel
35,Chui,UY,-33.70,-53.46,Bertelli Chuí Hotel

In [13]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [14]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Add the layer to the map
fig.add_layer(markers)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# save the photo 
# plt.savefig('ideal-cities-hotels.png')